/*
	tswtabs.css		2.0.0
	Please use the CSS Menu Button Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcsstabs ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
	display: inline ;
}
#tswcsstabs ul li {
	margin: 0 ;
	padding: 0 ;
	display: inline ;
	text-align: center ;
	float: left ;
	font-family: Arial, Helvetica, sans-serif ;
}
#tswcsstabs li a {
	color: #000000 ;
	background-color: #eff3ff ;
	padding: 8px ;
	text-decoration: none ;
	display: inline ;
}
#tswcsstabs li a:hover {
	color: #08519c ;
	background-color: #eff3ff ;
}
